.container {
    width: 700px;
    margin: 80px auto;
}


@media (max-width: 960px) { 
    .container {
        width : 700px
    }
}

@media (max-width: 720px) {
    .container {
        width: 500px;
    }
}

@media (max-width: 540px) {
    .container {
        width: 300px;
    }
}
/* whenever my screen size is below than the max width defined in the fore mentioned code above, the conresponding CSS will be applied */